<h1>Bike Rack</h1>

<ul>
 
	<% @bikes.each do |bike| %>

		<li>
			<strong><%= bike.name %></strong> -- <%= bike.brand %> <%= link_to "More info", bike_path(bike) %>

		</li>

	<% end %>

	<%= link_to "add new bike", new_bike_path %>



</ul>